html{
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100vw;
    min-width: 100vw;
    font-family: 'PT Sans', sans-serif;
    height: 100%;



}

#dot1{
    border: 1.4px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: fixed;
    top: 44vh;
    left: 97vw;
    transition:.1s ease-in-out;

}

#dot2{

    border: 1.4px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: fixed;
    top: 48vh;
    left: 97vw;
    transition:.1s ease-in-out;
}

#dot3{
    border: 1.4px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: fixed;
    top: 52vh;
    left: 97vw;
    transition:.1s ease-in-out;
}

#dot4{
    border: 1.4px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: fixed;
    top: 56vh;
    left: 97vw;
    transition:.1s ease-in-out;

}

#dot1:hover{
    transform: scale(1.4);
}
#dot2:hover{
    transform: scale(1.4);
}
#dot3:hover{
    transform: scale(1.4);
}

#dot4:hover{
    transform: scale(1.4);
}


