#infoPage{
    background: #4f5dd1;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    color: #562449;
}
#subCenter{
    width: 100px;
    height: 300px;
    position: absolute;
    left: 21vw;
    top: 0vh;
    animation-name: MoveUpDown;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;

}
#sub {
    position: inherit;
    left: 50%;
    margin-left: -90px;
    height: 340px;
    top:125vh;
    width: 100px;
    background: #562449;
    border-radius: 100px 100px 20px 20px;
    transform:rotate(90deg) ;
}
#subOutline {
    position: inherit;
    left: 49%;
    margin-left: -93px;
    height: 342px;
    top:125vh;
    width: 118px;
    background: #752c68;
    border-radius: 100px 100px 20px 20px;
    transform:rotate(90deg) ;
}
#subTail{
    position: absolute;
    border-top: 51px solid transparent;
    border-right: 51px solid transparent;
    border-bottom: 51px solid transparent;
    border-left: 51px solid #562449;

    transform: rotate(90deg);
    top: 328px;
    left: -1px;
}
#subTailOutline{
    position: absolute;
    border-top: 59px solid transparent;
    border-right: 59px solid transparent;
    border-bottom: 59px solid transparent;
    border-left: 59px solid #752c68;
    left: -8px;
    transform: rotate(90deg);
    top: 329px;
}
#Subwindow1{
     position: absolute;
     width: 40px;
     height: 40px;
     background:#4f5dd1;
     border-radius: 50%;
     left:32px;
     top:257px;
 }
#Subwindow2{
    position: absolute;
    width: 40px;
    height: 40px;
    background:#4f5dd1;
    border-radius: 50%;
    left:32px;
    top:148px;
}
#Subwindow3{
    position: absolute;
    width: 40px;
    height: 40px;
    background:#4f5dd1;
    border-radius: 50%;
    left:32px;
    top:43px;
}
#winOut1{
    position: absolute;
    width: 45px;
    height: 45px;
    background:#752c68;
    border-radius: 50%;
    left:30px;
    top:254px;
}
#winOut2{
    position: absolute;
    width: 45px;
    height: 45px;
    background:#752c68;
    border-radius: 50%;
    left:30px;
    top:145px;
}
#winOut3{
    position: absolute;
    width: 45px;
    height: 45px;
    background:#752c68;
    border-radius: 50%;
    left:30px;
    top:40px;
}
#periscopeV{
    position: absolute;
    width: 50px;
    height: 15px;
    background:#562449;
    border-radius: 0px 0px 0px 30px;
    top: 100px;
    left: -40px;
}
#periscopeVout{
    position: absolute;
    width: 34px;
    height: 15px;
    background:#752c68;
    border-radius: 0px 0px 0px 30px;
    top: 98px;
    left: -42px;
}
#periscopeH{
    position: absolute;
    width: 15px;
    height: 34px;
    background:#562449;
    border-radius: 0px 0px 0px 30px;
    top: 78px;
    left: -42px;
}
#glassouter{
    width: 21px;
    height: 9px;
    background: #752c68;
    border-radius: 50%;
    top: 73px;
    left: -45px;
    position: relative;
}
#glass{
    width: 18px;
    height: 6px;
    background: #562449;
    border-radius: 50%;
    top: 65px;
    left: -44px;
    position: relative;
}
#propellerouter{

    width: 95px;
    height: 33px;
    background: #752c68;
    border-radius: 50%;
    top: 364px;
    left: 2px;
    position: relative;
}
#propeller{

    width: 85px;
    height: 23px;
    background: #562449;
    border-radius: 50%;
    top: 336px;
    left: 6px;
    position: relative;
}
#blade{
    position: absolute;
    width: 2px;
    height: 25px;
    background: #752c68;
    top: 383px;
    left: 48px;
}
#blade2{
    position: absolute;
    width: 2px;
    height: 88px;
    background: #752c68;
    top: 352px;
    left: 48px;
    transform: rotate(90deg);
}

@keyframes MoveUpDown {
    0% {transform: none;}
    25% {transform:  translateY(-50px) translateX(20px) rotate(5deg);}
    50% {transform:  translateY(25px) translateX(-25px) rotate(-5deg);}
    75% {transform:  translateY(-50px) translateX(25px) rotate(-5deg);}
    100% {transform:  translateY(0px) translateX(0px) rotate(0deg);}
}

#rightText{
    position: absolute;
    left: 50vw;
    text-align: center;
    top:100vh;
    color:#562449 ;
    padding-right: 70px;
}
#introhead{
    font-size:16vh;

}
#introduction{
    font-size: 3vh;
}
#introduction{
    margin-top: 40px;
    margin-bottom:40px;
}

