#skills{
    background-color:#562449;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;

    color: #4f5dd1;
}

#textl{
    position: absolute;
    text-align: center;
    top:200vh;
    padding-left: 70px;
}

#introskills{
    font-size:  16vh;
}